<div class="sidebar">
    <i class="fa fa-reorder options-toggle"></i>
    <div class="sidebar-content">
        <h3 class="content-title header-text-color">Caio Neves</h3>
        <p id="home">HOME</p>
        <p id="about">ABOUT</p>
        <p id="work">WORKING EXPERIENCES</p>
        <p id="projects">PROJECTS</p>
        <p id="contact">CONTACT</p>
        <p>TOGGLE DARK/LIGHT MODE</p>
        <p class="style-toggler"><span></span></p>
        <p class="contacts">
            <a href="https://github.com/Caiozed" target="_blank"><i class="fa fa-github fa-2x"></i></a>
            <a href="https://www.facebook.com/caio.neves.142" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
        </p>
    </div>
</div>