// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header-center{
    margin: 0 auto;
}

.text-align-left{
    text-align: left;
}

#heart{
    color: red;    
}

.title{
    width: 100%;
    height: 250px;
    background: rgba(0,56,153,1);
    background: -moz-linear-gradient(top, rgba(0,56,153,1) 0%, rgba(0,16,28,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,56,153,1)), color-stop(100%, rgba(0,16,28,1)));
    background: -webkit-linear-gradient(top, rgba(0,56,153,1) 0%, rgba(0,16,28,1) 100%);
    background: -o-linear-gradient(top, rgba(0,56,153,1) 0%, rgba(0,16,28,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,56,153,1) 0%, rgba(0,16,28,1) 100%);
    background: linear-gradient(to bottom, rgba(0,56,153,1) 0%, rgba(0,16,28,1) 100%);
    color: white;
    h1{
        font-size: 40px;  
        padding-top: 20px;   
        text-shadow: 2px 0 2px black;
    }
    p{
        font-size: 30px;
        font-style: italic;
        padding-top: 20px;
        text-shadow: 2px 0 2px black;
    }
}

.content{
    transition: all 1s;
    p, h3, h2, i{
        padding: 10px 0;
    }
    
    h3{
        font-size: 25px;
        font-weight: 900;
    }
}

.sidebar{
    position: fixed;
    z-index: 11;
    h3{
        overflow: hidden;
        white-space: nowrap;
    }
    p{
        text-align: left;
        letter-spacing: 0.1em;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        &:hover{
            color: #ff704d;
        }
    }
    .options-toggle{
        position: absolute;
        cursor: pointer;
        padding: 10px;
        background: #191919;
        border-radius: 5px;
    }
    
    .sidebar-content{
        padding: 20px;
        background: #191919;  
        height: 100%;
    }
}


/*Mobile styles*/
@media screen and (max-width: 999px) and (min-width: 200px){
   .content{
        p{
            font-size: 30px;
            line-height: 35px;   
        }
   }
   
    .info{
        width: 90%;   
    }
    
    .job{
        .dates{
            padding: 0;
            font-size: 20px;
        }
    }
    
    .sidebar{
            width: 100%;
            top: 0;
        p{
            text-align: center;
            font-size: 25px; 
        }
        .options-toggle{
            font-size: 35px;
            top: 15px;
            right: 4%;
        }
    }
    
    .style-toggler{
         height: 45px;
    }
    
    .project{
        width: 100%;
        h2{
           font-size: 40px; 
        }
        a{
            font-size: 40px;
        }
        p{
            text-align: center;
        }
    }
}

//Desktop styles
@media screen and (min-width: 1000px){
  .content{
        p{
            font-size: 20px;
            line-height: 25px;   
        }
  }
   
  .info{
        width: 70%;   
    }
    
     .job{
        .dates{   
            padding: 0;
            font-size: 30px;
        }
    }
    
    .sidebar{
        height: 100%;
        right: 0;
        top: 0;
        p{
           font-size: 13px; 
        }
        .options-toggle{
            font-size: 35px;
            left: -65px;
            top: 15px;
        }
    }
    
    .style-toggler{
         height: 15px;
    }
    
    .project{
        width: 25%;
        h2{
           font-size: 30px; 
        }
        a{
            font-size: 20px;
        }
        p{
            text-align: left;
        }
    }
}

.info{
    margin: 0 auto;
}

.header-text-color{
    color: #ff704d;
}
.content-title{
    color: white;
    letter-spacing: 0.1em;
    font-size: 30px;
    font-weight: 900;
}

.tech-icon{
     width: 50px;
     display: inline;
}

.list{
    border-top: 5px solid rgba(120, 120, 120, 0.4);
    border-bottom: 5px solid rgba(120, 120, 120, 0.4);
    border-radius: 10px;
    width: 98%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    padding: 10px 0;
}

.project{
    padding: 10px 0;
    display: inline-block;
    margin: 0 5px;
    vertical-align: top;
    .image-link{
        padding: 0;
        img{
            padding: 0;
            width: 90%;
            transition: all 1s;
            &:hover{
            -webkit-filter: grayscale(100%);
               -moz-filter: grayscale(100%);
                 -o-filter: grayscale(100%);
                -ms-filter: grayscale(100%);
                    filter: grayscale(100%); 
            }
        }
    }
}

.job{
    padding: 10px 30px;
    width: 100%;
    *{
        text-align: left;
    }
    .dates{
        padding: 0;
        float: right;
    }
}

.footer{
    background: #001121;
    padding: 10px;
    a{
        padding: 0;
    }
    img{
        padding: 2px;
        width: 70px;
    }
}

.contacts{
    margin-top: 10px;
    i{
        padding: 0;
        border-radius: 50%;
        transition: all .5s;
        &:hover{
            color: #ff704d;
        }
    }
}


.style-toggler{
    margin: 5px auto;
    width: 70%;
    border-radius: 2px;
    padding: 1px;
    background: white;
    z-index: 11;
    transition: all 1s;
    span{
        display: block;
        left: 0;
        border-radius: 2px;
        height: 100%;
        width: 50%;
        transition: all .5s;
        background: black;
    }
}

.toggler-btn-light{
    background: black;
    span{
        background: white;
        margin-left: 50%;
    }
}

