@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";
*{
    color: white;
    text-align: center;
}

body{
    background: #00061a;
}

.inputlabel{
    position: relative;
    text-align: center;
    margin: 10px 0;
    width: 500px;
    height: 300px;
    border-radius: 5px;
    border: 3px dashed #2375ef;
    
    input{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        cursor: pointer;
    }
    
    &:hover{
        background: #2375ef;
    }
}

form{
    display: inline-block;
    text-align: center;
    *{
        
        color: black;
        display: block;
    }
    
    label{
        padding: 10px;
        font-size: 25px;
        font-weight: 900;
        color: white;
    }
    
    input{
       width: 100%; 
       font-size: 20px;
    }
    
    textarea{
        text-align: left;
        width: 100%; 
        height: 300px;
    }
}